<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.sc.mapper.CervicalVertebraActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.sc.entity.CervicalVertebraActivity">
        <id column="id" property="id" />
        <result column="person_id" property="personId" />
        <result column="testing_service_id" property="testingServiceId" />
        <result column="testing_org_id" property="testingOrgId" />
        <result column="test_value" property="testValue" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="x0x1" property="x0x1" />
        <result column="x2x3" property="x2x3" />
        <result column="x4x5" property="x4x5" />
        <result column="x6x7" property="x6x7" />
        <result column="x8x9" property="x8x9" />
        <result column="x10x11" property="x10x11" />
        <result column="x12x13" property="x12x13" />
        <result column="x14x15" property="x14x15" />
        <result column="x16x17" property="x16x17" />
        <result column="x18x19" property="x18x19" />
        <result column="x20x21" property="x20x21" />
        <result column="x22x23" property="x22x23" />
        <result column="x24x39" property="x24x39" />
        <result column="x40x55" property="x40x55" />
        <result column="x56x71" property="x56x71" />
        <result column="x72x77" property="x72x77" />
        <result column="x78x79" property="x78x79" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
