<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.sc.mapper.SubjectsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.sc.entity.Subjects">
        <id column="Id" property="Id" />
        <result column="Code" property="Code" />
        <result column="RealName" property="RealName" />
        <result column="Gender" property="Gender" />
        <result column="Birthday" property="Birthday" />
        <result column="IDCardNum" property="IDCardNum" />
        <result column="Company" property="Company" />
        <result column="Phone" property="Phone" />
        <result column="Address" property="Address" />
        <result column="CreatedDate" property="CreatedDate" />
        <result column="UpdatedDate" property="UpdatedDate" />
        <result column="Pwd" property="Pwd" />
        <result column="Salt" property="Salt" />
        <result column="Memo" property="Memo" />
        <result column="CreatedUserId" property="CreatedUserId" />
        <result column="UpdatedUserId" property="UpdatedUserId" />
        <result column="DeletedUserId" property="DeletedUserId" />
        <result column="DeletedDate" property="DeletedDate" />
        <result column="OrgCode" property="OrgCode" />
    </resultMap>

</mapper>
